:root {
    --text-font: 'Afacad Flux';
    --main-color: #671320;
    --text-color: #f3f8f2;
    --border-color: rgb(54, 54, 54);
    font-family: var(--text-font);
}

header {
    background: var(--main-color);
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    border-top: 1rem solid var(--border-color);
    border-bottom: 1rem solid var(--main-color);
    max-width: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
}

picture {
    max-width: 500px;
    margin-bottom: 0;
}

.hero img {
    vertical-align: top;
}

h2 {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.weather-icon {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

.weather img {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0 auto;
}

footer {
    background: var(--main-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0 auto;
}

#lastModified {
    font-size: 1rem;
    font-style: italic;
}