body {
    font-family: Roboto, sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 0.1rem solid black;
    padding: 1rem;
    background: lightskyblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background: white;
    padding: 1rem;
}